@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply min-h-screen text-black dark:text-white;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-[26px] font-semibold;
}

h3 {
  @apply text-2xl text-[#989898];
}

h4 {
  @apply text-black dark:text-white;
}

p {
  @apply text-lg;
}

form {
  @apply grid gap-6;
}

.background {
  @apply dark:bg-background-dark bg-background;
}

.foreground {
  @apply dark:bg-primary-dark dark:border-primary-dark border-primary bg-primary;
}

.container {
  @apply px-6 md:px-8;
}

.banner {
  @apply foreground mb-8 flex min-h-[500px] flex-col items-center justify-center gap-6 rounded-b-[35px];
}

.auth_input {
  @apply foreground h-fit rounded-xl border-transparent px-5  py-6 font-medium transition-colors duration-500 ease-out focus-visible:ring-0 focus-visible:ring-offset-0 !important;
}

.preview-input {
  @apply absolute bottom-[30%] right-5 z-10 h-fit text-3xl text-black dark:text-white;
}

.btn {
  @apply h-fit rounded-xl bg-black py-6 text-lg font-semibold text-white;
}

.btn-username {
  @apply h-fit rounded-xl bg-white py-6 text-xl font-semibold text-black;
}

.auth-onboard {
  @apply foreground h-fit rounded-lg border border-[#A8A8A8] p-2 text-3xl dark:border-[#292929];
}

.return-header {
  @apply dark:bg-background-dark container fixed inset-x-0 left-0 right-0 top-0 z-50 flex max-w-full items-center gap-5 bg-background pb-8 pt-10;
}

.input-otp-slot {
  @apply foreground h-[70px] w-[70px] rounded-lg border-transparent text-black dark:text-white;
}

.welcome-screen {
  @apply background login-res-screen flex h-screen flex-col pb-10 pt-20;
}

.carousel-container {
  @apply flex flex-grow flex-col justify-end;
}

.carousel-container-shell {
  @apply dark:bg-primary-dark flex h-[600px] flex-col justify-center rounded-3xl bg-black px-4 pb-4 md:h-[500px];
}
.carousel-container-img {
  @apply relative mb-14 mt-auto object-contain;
}

.carousel-container-pagination {
  @apply inline-block h-2 w-2 rounded-full;
}

.swiper-pagination {
  top: 40px !important;
  bottom: unset !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #414141;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-black dark:bg-white;
}

.tabs-trigger {
  @apply rounded-t-2xl py-2 text-lg font-semibold;
}

.tab-content {
  background-image: url(../assets/spiral.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  @apply dark:bg-primary-dark relative -top-1.5 z-10 mx-auto h-60 w-full max-w-[1400px] rounded-b-2xl rounded-t-none bg-primary px-2 pb-3 pt-6;
}

.mining-stats {
  @apply relative z-10 flex h-full flex-col justify-between text-center font-bold text-[#989898];
}

.mining-stats > div {
  @apply grid grid-cols-2 items-center gap-3;
}

.mining-stats .tag {
  @apply h-fit w-full text-wrap rounded-lg bg-black px-2 py-4 text-base font-medium text-white;
}

header {
  @apply container fixed inset-x-0 left-0 top-0 z-50 flex w-full items-center justify-between bg-[#f5f5f5] py-8 dark:bg-[#131721];
}

.header-container-img {
  @apply flex h-[54px] w-[54px] items-center justify-center overflow-hidden rounded-full bg-transparent;
}

.drop-down-content {
  @apply foreground dark:border-primary-dark mr-5 flex h-full max-h-[700px] w-56 flex-col justify-between space-y-2 overflow-y-scroll rounded-2xl border-primary px-3 py-4;
}

.drop-down-item {
  @apply flex items-center gap-3 p-2 text-base font-medium text-black dark:text-white;
}
.drop-down-item a {
  @apply flex items-center gap-3 rounded-lg text-base font-medium text-black dark:text-white;
}

.drop-down-item a.delete-btn {
  @apply flex items-center gap-3 rounded-lg text-base font-medium text-[#d33d3d];
}

.drop-down-item svg,
.drop-down-item a svg {
  @apply text-2xl;
}

.history-content {
  @apply foreground rounded-t-3xl px-5 py-6 md:px-10 md:py-14 lg:px-20;
}

.history-event {
  @apply flex items-center justify-between rounded-lg bg-[#f5f5f5] p-3 dark:bg-[#23262D];
}

.leader-banner {
  @apply foreground flex items-center gap-4 rounded-xl p-4;
}

.other-positions {
  @apply flex items-center justify-between px-5 py-6 text-sm font-medium text-[#939393] md:px-10 lg:px-20;
}

.overview-container {
  @apply mt-3 flex h-48 flex-col rounded-2xl bg-gradient-to-t  from-[#5a5a5a] to-black px-4 py-3 dark:from-[#D9D9D9]/50;
}
.referral-container {
  @apply foreground flex items-center gap-3 rounded-xl border border-dashed border-[#86868680] px-4 py-3 !important;
}

.tasktab-container {
  @apply foreground mb-5 rounded-xl p-2.5;
}

.tasktab-container-tabcontroller {
  @apply grid h-full w-full grid-cols-3 rounded-xl bg-[#EBEBEB] p-0 dark:bg-[#23262D];
}

.tasktab-container-tabcontroller-tab {
  @apply gap-1 rounded-xl py-4 text-lg font-semibold text-[#ABABAB] dark:text-[#ABABAB];
}

.tasktab-container-content {
  @apply min-h-[550px] rounded-2xl drop-shadow-sm;
}

.link-colour {
  @apply text-[#17A0AF] dark:text-[#15BDCF];
}

.twitter-auth {
  @apply fixed inset-0 z-[99999999] flex-col items-center justify-center bg-black/50 p-4;
}

.twitter-container {
  @apply background mx-auto w-full max-w-md space-y-3 rounded-xl p-3;
}

.twitter-btn {
  @apply h-fit w-full bg-black py-5 text-xl text-white;
}

.task-list {
  @apply dark:bg-primary-dark rounded-xl bg-white;
}

.icon-container {
  @apply flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-4xl text-black dark:bg-[#23262D] dark:text-white;
}

.boost-icon-container {
  @apply flex h-12 w-12 items-center justify-center rounded-xl border-black text-2xl text-black dark:border-[#23262D] dark:text-white;
}

.personal-container {
  @apply dark:bg-primary-dark fixed inset-x-5 bottom-5 flex h-full max-h-28 items-center justify-between rounded-xl bg-primary p-4 text-xs font-semibold text-black dark:text-white md:inset-x-10 lg:inset-x-20;
}

.personal-container h3 {
  @apply text-[17px];
}

.connect-wallet {
  @apply border-primary-dark w-full rounded-xl border px-4 py-3 text-center text-base font-medium text-black dark:border-primary dark:text-white;
}

.completed-banner {
  background-image: url(../assets/lines.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  @apply container h-screen border-0 bg-white bg-blend-difference ring-0 dark:bg-black;
}

.large-screen {
  @apply mx-auto max-w-3xl;
}

.login-res-screen {
  @apply mx-auto max-w-xl;
}

select,
textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 22px !important;
}

label {
  @apply text-xl !important;
}
legend {
  @apply text-2xl !important;
}
