@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply min-h-screen text-black dark:text-white;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-[26px] font-semibold;
}

h3 {
  @apply text-[#989898] text-2xl;
}

h4 {
  @apply text-black dark:text-white;
}

p {
  @apply text-lg;
}

form {
  @apply grid gap-6;
}

.background {
  @apply bg-background dark:bg-background-dark;
}

.foreground {
  @apply bg-primary dark:bg-primary-dark border-primary dark:border-primary-dark;
}

.container {
  @apply px-6 md:px-8;
}

.banner {
  @apply min-h-[500px] foreground rounded-b-[35px] flex items-center justify-center flex-col gap-6 mb-8;
}

.auth_input {
  @apply foreground py-6 px-5 h-fit rounded-xl  border-transparent font-medium transition-colors ease-out duration-500 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
}

.preview-input {
  @apply absolute z-10 text-black dark:text-white text-3xl right-5 h-fit bottom-[30%];
}

.btn {
  @apply bg-black py-6 font-semibold rounded-xl h-fit text-lg text-white;
}

.btn-username {
  @apply bg-white py-6 font-semibold rounded-xl h-fit text-xl text-black;
}

.auth-onboard {
  @apply text-3xl p-2 h-fit border border-[#A8A8A8] dark:border-[#292929] rounded-lg foreground;
}

.return-header {
  @apply fixed top-0 inset-x-0 left-0 right-0 pb-8 pt-10 z-50 container max-w-full bg-background dark:bg-background-dark flex items-center gap-5;
}

.input-otp-slot {
  @apply h-[70px] w-[70px] rounded-lg border-transparent text-black dark:text-white foreground;
}

.welcome-screen {
  @apply h-screen background pt-20 pb-10 flex flex-col login-res-screen;
}

.carousel-container {
  @apply flex-grow flex flex-col justify-end;
}

.carousel-container-shell {
  @apply dark:bg-primary-dark bg-black h-[600px] md:h-[500px] rounded-3xl flex flex-col justify-center pb-4 px-4;
}
.carousel-container-img {
  @apply relative object-contain mt-auto mb-14;
}

.carousel-container-pagination {
  @apply h-2 w-2 rounded-full inline-block;
}

.swiper-pagination {
  top: 40px !important;
  bottom: unset !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #414141;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-black dark:bg-white;
}

.tabs-trigger {
  @apply rounded-t-2xl font-semibold text-lg py-2;
}

.tab-content {
  background-image: url(../assets/spiral.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  @apply relative h-60 z-10 -top-1.5 rounded-b-2xl rounded-t-none bg-primary dark:bg-primary-dark w-full mx-auto px-2 max-w-[1400px] pt-6 pb-3;
}

.mining-stats {
  @apply text-center font-bold text-[#989898] relative z-10 flex flex-col justify-between h-full;
}

.mining-stats > div {
  @apply grid grid-cols-2 items-center gap-3;
}

.mining-stats .tag {
  @apply w-full py-4 px-2 text-wrap rounded-lg bg-black text-white font-medium text-base h-fit;
}

header {
  @apply container py-8 dark:bg-[#131721] bg-[#f5f5f5] flex justify-between items-center w-full fixed inset-x-0 top-0 left-0 z-50;
}

.header-container-img {
  @apply h-12 w-12 bg-[#14BBCC] flex items-center justify-center rounded-full overflow-hidden;
}

.drop-down-content {
  @apply foreground border-primary dark:border-primary-dark w-56 mr-5 py-4 px-3 rounded-2xl space-y-2 max-h-[700px] h-full justify-between flex flex-col overflow-y-scroll;
}

.drop-down-item {
  @apply text-black dark:text-white text-base font-medium flex items-center gap-3 p-2;
}
.drop-down-item a {
  @apply text-black dark:text-white text-base font-medium flex items-center gap-3 rounded-lg;
}

.drop-down-item a.delete-btn {
  @apply text-[#d33d3d] text-base font-medium flex items-center gap-3 rounded-lg;
}

.drop-down-item svg,
.drop-down-item a svg {
  @apply text-2xl;
}

.history-content {
  @apply md:py-14 foreground rounded-t-3xl px-5 md:px-10 lg:px-20 py-6;
}

.history-event {
  @apply p-3 dark:bg-[#23262D] bg-[#f5f5f5] rounded-lg flex items-center justify-between;
}

.leader-banner {
  @apply flex items-center gap-4 foreground p-4 rounded-xl;
}

.other-positions {
  @apply py-6 px-5 md:px-10 lg:px-20 flex items-center justify-between text-[#939393] font-medium text-sm;
}

.overview-container {
  @apply mt-3 h-48 bg-gradient-to-t px-4 py-3 to-black  dark:from-[#D9D9D9]/50 from-[#5a5a5a] rounded-2xl flex flex-col;
}
.referral-container {
  @apply foreground border border-dashed border-[#86868680] flex py-3 px-4 rounded-xl items-center gap-3 !important;
}

.tasktab-container {
  @apply p-2.5 foreground mb-5 rounded-xl;
}

.tasktab-container-tabcontroller {
  @apply grid w-full grid-cols-3 p-0 h-full dark:bg-[#23262D] rounded-xl bg-[#EBEBEB];
}

.tasktab-container-tabcontroller-tab {
  @apply rounded-xl font-semibold text-[#ABABAB] dark:text-[#ABABAB] py-4 text-lg gap-1;
}

.tasktab-container-content {
  @apply rounded-2xl drop-shadow-sm min-h-[550px];
}

.link-colour {
  @apply text-[#17A0AF] dark:text-[#15BDCF];
}

.twitter-auth {
  @apply fixed inset-0 p-4 bg-black/50 z-[99999999] flex-col items-center justify-center;
}

.twitter-container {
  @apply w-full max-w-md mx-auto rounded-xl background p-3 space-y-3;
}

.twitter-btn {
  @apply bg-black w-full py-5 h-fit text-xl text-white;
}

.task-list {
  @apply bg-white dark:bg-primary-dark rounded-xl;
}

.icon-container {
  @apply text-4xl h-16 w-16 flex items-center justify-center bg-primary dark:bg-[#23262D] dark:text-white text-black rounded-xl;
}

.boost-icon-container {
  @apply text-2xl h-12 w-12 flex items-center justify-center border-black dark:border-[#23262D] dark:text-white text-black rounded-xl;
}

.personal-container {
  @apply fixed bottom-5 bg-primary dark:bg-primary-dark inset-x-5 md:inset-x-10 lg:inset-x-20 p-4 max-h-28 h-full flex items-center justify-between rounded-xl text-xs text-black dark:text-white font-semibold;
}

.personal-container h3 {
  @apply text-[17px];
}

.connect-wallet {
  @apply text-black dark:text-white text-base w-full font-medium text-center px-4 py-3 border border-primary-dark dark:border-primary rounded-xl;
}

.completed-banner {
  background-image: url(../assets/lines.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  @apply container h-screen bg-white dark:bg-black ring-0 border-0 bg-blend-difference;
}

.large-screen {
  @apply max-w-3xl mx-auto;
}

.login-res-screen {
  @apply max-w-xl mx-auto;
}

select,
textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 22px !important;
}

label {
  @apply text-xl !important;
}
legend {
  @apply text-2xl !important;
}
